<div ng-controller="assetinward_ctrl">
    <div class="panel panel-default" style="margin: 5px">
        <div class="panel-heading" style="background-color:aliceblue">
            <div class="clearfix">
                <a href ng-click="action=1" class="pull-left thumb-md avatar b-3x m-r">
                  <img src="img/medical_icons/dashboard.png" >
                </a>
                <div class="clear">
                    <div class="h3 m-t-xs m-b-xs">
                        Asset Inward
                    </div>
                    <small class="text-muted">Page Caption</small>

                </div>

            </div>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group input-group col-xs-6 col-sm-3 pull-left" ng-show="action==1">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        <input class="form-control" ng-model="search">
                    </div>
                     <button class="btn m-b-xs btn-sm btn-primary btn-addon pull-right" ng-show="action==1" ng-click="add_inv_unit()">
                    <i class="fa fa-plus"></i>
                    New
                </button>
                  <button class="btn m-b-xs btn-sm btn-success btn-addon pull-right" ng-show="action==2"  form="myform" ng-disabled="form.$invalid"><i class="fa fa-check"></i>Save</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" ng-init="init()">
                        <table class="table table-striped b-t b-light">
                                <thead>
                                    <tr>
                                        <th>Asset PO Supplier ID</th>
                                        <th>Price</th>
                                        <th>Date</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="x in unit_data |filter:search">
                                    <tr rowspan="2" >
                                        <td><span ng-bind="x.assetpo_supplier_id"></span></td>
                                        <td><span ng-bind="x.assetpo_price"></span></td>
                                        <td><span ng-bind="x.assetpo_date"></span> </td>
                                        <td><a href ng-click="change_status(x.id,x.supply_status,$index)"><i class="fa fa-check text-success" ng-show="x.supply_status==1"></i><i class="fa fa-times text-danger" ng-show="x.supply_status==0"></i></a>
                                        </td>
                                    </tr> 
                                </tbody>
                        </table>.
					

                </div>
            </div>
			<div ng-show="action==2">
					
				<form name="myform" id="myform" ng-submit="save()">
						Form Activated...
				</form>
			</div>
        </div>
    </div>

</div>
