<div ng-controller="assetstock_ctrl">

    <div class="panel panel-default" style="margin: 5px">
        <div class="panel-heading" style="background-color:aliceblue">
            <div class="clearfix">
                <a ng-click="action=1" class="pull-left thumb-md avatar b-3x m-r">
                  <img src="img/medical_icons/stock2.png" >
                </a>
                <div class="clear">
                    <div class="h3 m-t-xs m-b-xs">
                        Asset Stock  
                    </div>
                    <small class="text-muted">Asset Stock</small>

                </div>

            </div>
        </div>

        <div class="panel-body">
            <!-- <div class="row" style="overflow: auto">
                <div class="col-md-3">
                    <div class="form-group input-group" ng-show="action==1">
                        <label class="input-group-addon" for="searchID"><i class="fa fa-search"></i></label>
                        <input class="form-control" ng-model="search" id="searchID">
                    </div>
				</div>
				 <div class="col-md-3">
					<div>
                        <label>Select Store</label>
						<select class="form-control" ng-model="store_name" ng-options="s.id as s.store_name for s in stock_data" ng-change="get_store_data(store_name)">
							<option value="">Select Store</option>
						</select> 
					</div>
				</div>
                  <button class="btn m-b-xs btn-sm btn-primary btn-addon pull-right" ng-show="action==1" ng-click="add_inv_unit()">
                    <i class="fa fa-plus"></i>
                    New
                </button>
                    <button class="btn m-b-xs btn-sm btn-success btn-addon pull-right" ng-show="action==2" form="myform" form="myform" ng-disabled="form.$invalid"><i class="fa fa-check"></i>Save</button> 
                
            </div><br>  -->
            <div class="row" style="overflow: auto">
                <div class="col-md-12" ng-init="init()"> 
                        <div class="panel panel-default">
                                <div class="panel-heading" style="font-size: 20px;">Asset Stock Details
                                        <div class="row">
                                                <div class="col-md-3 pull-right" ng-show="action==1">
                                                    <label >Select Store</label>
                                                    <div class="col-md-2 pull-right">&nbsp;</div>
                                                      
                                                      <select class="form-control col-md-4 pull-right" ng-model="store_name" ng-options="s.id as s.store_name for s in stock_data" ng-change="get_store_data(store_name)">
                                                            <option value="">Select Store</option>
                                                        </select> 
                                                  </div>
                                        </div>
                              
                                        <!-- <div class="col-md-3 pull-right">
                                            <label>Select Store</label>
                                            <select class="form-control col-md-3" ng-model="store_name" ng-options="s.id as s.store_name for s in stock_data" ng-change="get_store_data(store_name)">
                                                <option value="">Select Store</option>
                                            </select> 
                                        </div> -->
                                  
                                </div>
                                <div class="panel-body">
                                    <table class="table table-striped b-t b-light table-bordered" ng-show="showTable==1">
                                            <thead>
                                                <tr ng-hide="NoData == 1">
                                                    <td colspan="5">
                                                        <div class="input-group col-md-3" ng-show="action==1">
                                                            <label class="input-group-addon" for="searchID"><i class="fa fa-search"></i></label>
                                                            <input class="form-control" ng-model="search" id="searchID">
                                                        </div>
                                                    </td>
                                                </tr>  
                                                <tr> 
                                                    <th>S No.</th>
                                                    <th><a ng-click="SortTheData('ig_name')">Item Group</a></th>				  
                                                    <th><a ng-click="SortTheData('asset_name')">Item Name</a></th>
                                                    <th><a ng-click="SortTheData('quantity')">Item QTY</a></th>
                                                    <th><a ng-click="SortTheData('store_name')">Store Name</a></th>
                                                </tr>
                                            </thead>
                                            <tbody ng-repeat="x in store_data | filter:search | orderBy:sort:reverseSort">
                                            <tr rowspan="2">
                                                <td>{{$index+1}}</td>
                                                <td><span ng-bind="x.ig_name"></span></td>	  			 
                                                <td><span ng-bind="x.asset_name"></span></td>
                                                <td><span ng-bind="x.quantity"></span></td>
                                                <td><span ng-bind="x.store_name" ></span></td>
                                            </tr>
                                            </tbody>
                                            <tbody ng-show="NoData == 1">
                                                <tr align="center">
                                                    <td colspan="5"><h4>No Data</h4></td>
                                                </tr>
                                            </tbody>
                                    </table>
                                </div>
                        </div>  

                </div>
            </div>
        </div>
    </div>


</div>
