<div ng-controller="dailycashregister_ctrl">
    <div class="panel panel-default" style="margin: 5px">
        <div class="panel-heading" style="background-color:aliceblue">
            <div class="clearfix">
                <a href ng-click="action=1" class="pull-left thumb-md avatar b-3x m-r">
                  <img src="img/medical_icons/daily_cash.png" >
                </a>
                <div class="clear">
                    <div class="h3 m-t-xs m-b-xs">
                        Daily Cash Register
                    </div>
                    <small class="text-muted">Daily Cash Details</small>

                </div>
            </div>
        </div>

        <div class="panel-body">
            <div class="row">
                <!-- <div class="col-md-3">
                    <label for="searchID">Search</label>
                    <div class="input-group  pull-left" ng-show="action==1">
                        <label class="input-group-addon btn" for="searchID"><i class="fa fa-search"></i></label>
                        <input class="form-control" ng-model="search" id="searchID">
                    </div>
                </div> -->
                
                <div class="col-md-3">
                    <label for="from_dateID">From Date</label>
                    <div class="input-group">
                        <input type="date" ng-model="from_date_for_model" id="from_dateID" ng-change="change_date()" class="form-control">
                        <label class="input-group-addon btn" for="from_dateID">
                            <span class="fa fa-calendar"></span>
                        </label>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3">
                    <label>To Date</label>
                    <div class="input-group">
                        <input type="date" id="testdate1" ng-model="to_date_for_model" ng-change="change_date()" class="form-control">
                        <label class="input-group-addon btn" for="testdate1">
                                <span class="fa fa-calendar"></span>
                            </label>
                    </div>
                </div>
                <div class="col-md-offset-4 col-md-1" id="printid">
                    <br>
                    <buttton type="buttton" class="close" data-toggle="modal" data-target="#myModal" ng-click="get_print()"><i class="glyphicon glyphicon-print" style="font-size: 25px"></i></buttton>
                </div>
            </div>

            <!-- MODAL FOR PRINT -->
            <div id="myModal" class="modal" role="dialog">
                <div class="modal-dialog modal-lg modal-full-width" style="min-width: 80%">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div id="printDCR">
                                <div class="row">
                                    <div class="col-md-12" ng-repeat="i in hospital_details" style="text-align: center">
                                        <h3>{{i.hname}}</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12" ng-repeat="i in hospital_details" style="text-align: center">
                                        <h4>Cash Register [{{ from_date | date:'dd-MM-yy' }}<span class="text-primary">&nbsp;&nbsp;TO&nbsp;&nbsp;</span> {{ to_date | date:'dd-MM-yy' }}]</h4>
                                    </div>
                                </div>

                                <table border="1px" cellspacing="0px" hieght="100%" width="100%" class="table  table-hover table-bordered">
                                    <tr>
                                        <th style="text-align: center">Cash</th>
                                        <th style="text-align: center">Cheque</th>
                                        <th style="text-align: center">Card</th>
                                        <th style="text-align: center">Total</th>
                                    </tr>
                                    <tr align="center">
                                        <td><i class="fa fa-rupee"></i>&nbsp;{{cashTotal}}</td>
                                        <td><i class="fa fa-rupee"></i>&nbsp;{{chequeTotal}}</td>
                                        <td><i class="fa fa-rupee"></i>&nbsp;{{swipingTotal}}</td>
                                        <td><i class="fa fa-rupee"></i>&nbsp;{{dayTotal}}</td>
                                    </tr>
                                </table><br>      
                                <table border="1px" cellspacing="0px" hieght="100%" width="100%" class="table  table-hover table-bordered" ng-if="data.length>0">
                                    <thead align="center">
                                        <th>S No.</th>   
                                        <th ng-click="SortTheData('date_time')">Date</th>    
                                        <th>Patient ID</th>
                                        <th ng-click="SortTheData('name')">Patient Name</th>
                                        <th ng-click="SortTheData('fcname')">Visit Type</th>
                                        <th ng-click="SortTheData('receipt_code')">Receipt Code</th>
                                        <th ng-click="SortTheData('bcname')">Bill Category</th>
                                        <th ng-click="sort='amount';reverseSort=!reverseSort" style="text-align:right;">Amount</th>
                                        <th ng-click="SortTheData('payment_type')">Payment Type</th>
                                    </thead>
                                    <tbody align="center">
                                        <tr ng-class="{danger: i.date_time !== i.transaction_date}" ng-repeat="i in data">
                                            <td>{{$index+1}}</td>
                                            <td>{{i.date_time}}</td>
                                            <td>{{i.patient_id}}</td>
                                            <td>{{i.name}}<span class="text-muted"><br>{{i.gender}}&nbsp;:&nbsp;{{i.age}},&nbsp;S/O&nbsp;{{i.father_name}}</span></td>
                                            <td>{{i.fcname}}</td>
                                            <td>{{i.receipt_code}}</td>
                                            <td>{{i.bcname}}</td>
                                            <td style="text-align:right;"><i class="fa fa-rupee"></i>&nbsp;{{i.amount }}</td>
                                            <td>{{i.payment_type}}</td>
                                        </tr>
                                        <!-- <tr ng-show="show==0" >
                                                    <td colspan="9">
                                                        <h3 align="center">No Record</h3>
                                                    </td>
                                                </tr> -->
                                    </tbody>
                                </table>
                                <h3 align="center" class="text-danger" ng-if="cancel_data.length>0">Cancelled Receipts</h3>
                                <table border="1px" cellspacing="0px" hieght="100%" width="100%" class="table  table-hover table-bordered" ng-if="cancel_data.length>0">
                                    <thead align="center">
                                        <th>S No.</th>
                                        <th ng-click="SortTheData('date_time')">Date</th>
                                        <th ng-click="SortTheData('name')">Patient Name</th>
                                        <th ng-click="SortTheData('fcname')">Visit Type</th>
                                        <th ng-click="SortTheData('receipt_code')">Receipt Code</th>
                                        <th ng-click="SortTheData('bcname')">Bill Category</th>
                                        <th ng-click="SortTheData('amount')" style="text-align:right;">Amount</th>
                                        <th ng-click="SortTheData('payment_type')">Payment Type</th>
                                    </thead>
                                    <tbody align="center">
                                        <tr ng-repeat="i in cancel_data ">
                                            <td>{{$index+1}}</td>
                                            <td>{{i.date_time}}</td>
                                            <td>{{i.name}}</td>
                                            <td>{{i.fcname}}</td>
                                            <td>{{i.receipt_code }}</td>
                                            <td>{{i.bcname}}</td>
                                            <td style="text-align:right;"><i class="fa fa-rupee"></i>&nbsp;{{i.amount}}</td>
                                            <td>{{i.payment_type}}</td>
                                        </tr>
                                        <!-- <tr ng-show="cancel_show==0">
                                                    <td colspan="9">
                                                        <h3 align="center">No Record</h3>
                                                    </td>
                                                </tr> -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger btn-md" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary pull-left" ng-click="print_DCR('printDCR')">Print</button>
                        </div>
                    </div>
                </div>
            </div>





            <div class="row" ng-init="init()">
                <div class="col-md-12" style="min-width: length 700px;" ng-hide="DoNotShow == 1">
                    <div class="row">
                        <div class="col-md-12" ng-repeat="i in hospital_details" style="text-align: center">
                            <h3>{{i.hname}}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" ng-repeat="i in hospital_details" style="text-align: center">
                            <h4>Cash Register [{{ from_date | date:'dd-MM-yy' }}<span class="text-primary">&nbsp;&nbsp;TO&nbsp;&nbsp;</span> {{ to_date | date:'dd-MM-yy' }}]</h4>
                        </div>
                    </div>

                    <div class="row" ng-hide="show == 0">
                        <div class="col-md-3">
                            <h4>Cash &nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;<span class="text-danger"><i class="fa fa-rupee"></i>&nbsp;{{cashTotal}} </span></h4>
                        </div>
                        <div class="col-md-3">
                            <h4> Cheque &nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;<span class="text-danger"><i class="fa fa-rupee"></i>&nbsp;{{chequeTotal}} </span></h4>
                        </div>
                        <div class="col-md-3">
                            <h4>Card : &nbsp;&nbsp;<span class="text-danger"><i class="fa fa-rupee"></i>&nbsp;{{swipingTotal}} </span></h4>
                        </div>
                        <div class="col-md-3">
                            <h4>Total &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;<span class="text-danger"><i class="fa fa-rupee"></i>&nbsp;{{ dayTotal}} </span></h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="input-group  pull-left" ng-show="action==1">
                                <label class="input-group-addon btn" for="searchID"><i class="fa fa-search"></i></label>
                                <input class="form-control" ng-model="search" id="searchID">
                            </div>
                        </div>
                    </div>

                    <table class="table  table-striped table-bordered" ng-hide="show == 0">
                        <thead>
                            <th>S No.</th>
                            <th ng-click="SortTheData('date_time')">Date</th>
                            <th>Patient ID</th>
                            <!-- <th>Patient Visit ID</th> -->
                            <th ng-click="SortTheData('name')">Patient Name</th>
                            <th ng-click="SortTheData('fcname')">Visit Type</th>
                            <th ng-click="SortTheData('receipt_code')">Receipt Code</th>
                            <th ng-click="SortTheData('bcname')">Bill Category</th>
                            <th ng-click="sort='amount';reverseSort=!reverseSort" style="text-align:right;">Amount</th>
                            <th ng-click="SortTheData('payment_type')">Payment Type</th>
                        </thead>
                        <tbody ng-class="{danger: i.date_time !== i.transaction_date}" ng-repeat="i in data | filter:search | orderBy:sort:reverseSort" ng-show="show==1">
                            <tr>
                                <td>{{$index+1}}</td>
                                <td>{{i.date_time}}</td>
                                <td>{{ (i.patient_id === null) ? '-----' : i.patient_id }}</td>
                                <!-- <td>{{i.p_visit_id}}</td> -->
                                <td>
                                    {{ (i.name === null) ? i.patient_name : i.name }}
                                    <br/>
                                    <span class="text-muted" ng-if="i.patient_name === null">
                                        {{i.gender}}&nbsp;:&nbsp;{{i.age}},&nbsp;S/O&nbsp;{{i.father_name}}
                                    </span>
                                    <span class="text-muted" ng-if="i.name === null">
                                        {{ '-' }}
                                    </span>
                                </td>
                                <td>{{ (i.fcname === null) ? '-----' : i.fcname }}</td>
                                <td><a href="javascript:void(0)" data-toggle="modal" data-target="#ReceiptModal" ng-click="get_detailsByRecCode(i.receipt_code, i.patient_id)">{{i.receipt_code}}</a></td>
                                <td>{{i.bcname}}</td>
                                <td style="text-align:right;"><i class="fa fa-rupee"></i>&nbsp;{{i.amount }}</td>
                                <td>{{i.payment_type}}</td>
                            </tr>
                        </tbody>
                        <tbody ng-show="show == 0">
                            <tr align="center">
                                <td colspan="9">
                                    <h4 >No Data</h4>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                                  
                             <!-- Model -->
                             <div class="modal fade" id="ReceiptModal">
                                <div class="modal-dialog modal-lg modal-full-height">
                                    <div class="modal-content">

                                        <div class="modal-header">
                                            <h4 class="modal-title">&nbsp;IP Details</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>

                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <div id="BillPrintIndivisual">

                                                <div ng-repeat="t in indivisual_receipt">
                                                    <div class="row">
                                                        <div class="col-md-12" align="center" ng-repeat="i in t.hospital_details">
                                                            <table border="1px" cellspacing="0px" hieght="100%" width="100%">
                                                                <tr>
                                                                    <h3>{{i.hname}}</h3>
                                                                </tr>
                                                                <tr>
                                                                    {{i.haddress}}
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <h4>To</h4>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <table border="1px" cellspacing="0px" hieght="100%" width="100%">
                                                                <tr>
                                                                    <td style="text-align:center">Name</td>
                                                                    <td style="text-align:center" ng-if="t.patientInHospital=='true'">Address</td>
                                                                    <td style="text-align:center" ng-if="t.patientInHospital=='true'">Mobile</td>
                                                                    <td style="text-align:center">Receipt Code </td>
                                                                    <td style="text-align:center">Date</td>
                                                                </tr>
                                                                <tr ng-if="t.patientInHospital=='true'">
                                                                    <td style="text-align:center">{{t.name}}</td>
                                                                    <td style="text-align:center">{{t.city}}</td>
                                                                    <td style="text-align:center">{{t.mobile}}</td>
                                                                    <td style="text-align:center">{{t.receipt_code}}</td>
                                                                    <td style="text-align:center">{{t.date_time}}</td>
                                                                </tr>                                                            
                                                                <tr ng-if="t.patientInHospital=='false'">
                                                                    <td style="text-align:center">{{t.patient_name}}</td>
                                                                    <td style="text-align:center">{{t.receipt_code}}</td>
                                                                    <td style="text-align:center">{{t.date_time}}</td>
                                                                </tr>
                                                            </table><br/>
                                                            <table border="1px" cellspacing="0px" hieght="100%" width="100%">
                                                                <tr>
                                                                    <th>S No.</th>
                                                                    <th style="text-align:center">Description</th>
                                                                    <th style="text-align:center;">Amount</th>
                                                                </tr>
                                                                <tr ng-repeat="z in t.paid_details">
                                                                    <td>{{$index+1}}</td>
                                                                    <td style="text-align:center">{{z.bcname}} {{ (z.bcname === 'OP Consultation') ? '[Dr.&nbsp;' + t.dr_name + ']' : ''}}</td>
                                                                    <td style="text-align:center;"><i class="fa fa-rupee"></i>&nbsp;{{z.amount}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="text-align:center" colspan="2">Total Amount</td>
                                                                    <td style="text-align:center"><i class="fa fa-rupee"></i>&nbsp;{{t.amount}}</td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <br/>
                                                    <table cellspacing="0px" hieght="100%" width="100%">
                                                        <tr>
                                                            <td><b>Terms & Conditions :</b></td>
                                                            <td align="left"><b>Signature:</b></td>
                                                        </tr>
                                                    </table>
                                                    <table cellspacing="0px" hieght="100%" width="100%">
                                                        <tr>
                                                            <td><b>1&nbsp;</b>A finance charge of 1.5% will be made on unpaid balances after 30 days.</td>
                                                        </tr>
                                                    </table>
                                                </div>

                                            </div>

                                            <!-- Modal footer -->
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger btn-md" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary pull-left" ng-click="print_DCR('BillPrintIndivisual')">Print</button>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>


                    <h3 align="center" class="text-danger" ng-hide="cancel_show == 0">Cancelled Receipts</h3>

                    <table class="table  table-striped table-bordered" ng-hide="cancel_show == 0">
                        <thead>
                            <th>S No.</th>
                            <th ng-click="SortTheData('date_time')">Date</th>
                            <th>Patient ID</th>
                             <!--   <th>Patient Visit ID</th> -->
                            <th ng-click="SortTheData('name')">Patient Name</th>
                            <th ng-click="SortTheData('fcname')">Visit Type</th>
                            <th ng-click="SortTheData('receipt_code')">Receipt Code</th>
                            <th ng-click="SortTheData('bcname')">Bill Category</th>
                            <th ng-click="SortTheData('amount')" style="text-align:right;">Amount</th>
                            <th ng-click="SortTheData('payment_type')">Payment Type</th>
                        </thead>
                        <tbody ng-repeat="i in cancel_data | filter:search | orderBy:sort:reverseSort" ng-show="cancel_show==1">
                            <tr>
                                <td>{{$index+1}}</td>
                                <td>{{i.date_time}}</td>
                                <td>{{ (i.patient_id === null) ? '-----' : i.patient_id }}</td>
                                <!-- <td>{{i.p_visit_id}}</td> -->
                                <td>
                                    {{ (i.name === null) ? i.patient_name : i.name }}
                                    <br/>
                                    <span class="text-muted" ng-if="i.patient_name === null">
                                        {{i.gender}}&nbsp;:&nbsp;{{i.age}},&nbsp;S/O&nbsp;{{i.father_name}}
                                    </span>
                                    <span class="text-muted" ng-if="i.name === null">
                                        {{ '-' }}
                                    </span>
                                </td>
                                <td>{{ (i.fcname === null) ? '-----' : i.fcname }}</td>
                                <td>{{i.receipt_code }}</td>
                                <td>{{i.bcname}}</td>
                                <td style="text-align:right;"><i class="fa fa-rupee"></i>&nbsp;{{i.amount}}</td>
                                <td>{{i.payment_type}}</td>
                            </tr>
                        </tbody>
                        <tbody ng-show="cancel_show == 0">
                            <tr align="center">
                                <td colspan="9">
                                    <h4>No Data</h4>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </div><br>
            <div class="row">
                <div class="col-md-12" ng-show="DoNotShow == 1">
                    <h3 align="center">No Data</h3>
                </div>
            </div>
        </div>
    </div>

</div>
