<div ng-controller="scheme_ctrl">
    <div class="panel panel-default" style="margin: 5px">
        <div class="panel-heading" style="background-color:aliceblue">
            <div class="clearfix">
                <a href ng-click="Home()" class="pull-left thumb-md avatar b-3x m-r">
                  <img src="img/medical_icons/scheme.png" >
                </a>
                <div class="clear">
                    <div class="h3 m-t-xs m-b-xs">
                        Scheme
                    </div>
                    <small class="text-muted">Scheme Details</small>
                </div>
            </div>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group input-group col-xs-6 col-sm-3 pull-left" ng-show="action==1">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        <input class="form-control" ng-model="search">
                    </div>
                    <button class="btn m-b-xs btn-sm btn-primary btn-addon pull-right" ng-show="action==1" ng-click="action=2">
                    <i class="fa fa-plus"></i>
                    New
                </button>
                    <button class="btn m-b-xs btn-sm btn-success btn-addon pull-right" ng-show="action==2" form="addform"><i class="fa fa-check"></i>Save</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" ng-init="init()" ng-show="action==1">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <!-- <tr> -->
                                <th>Scheme Name</th>
                                <th>Paid Type</th>
                                <th>Scheme Type</th>
                            <!-- </tr> -->
                        </thead>
                        <tbody ng-repeat="i in scheme_data |filter:search">
                            <tr>
                                <td><a ng-click="updateFun($index)">{{i.schemeName}}</a></td>
                                <td>{{i.cashlessOrReimbursement}}</td>
                                <td>{{i.govtOrInsurance}}</td>
                            </tr>
                            <tr ng-show="update[$index]==1">
                                <td colspan="3">
                                    <form name="upadteform" class="form-validation">
                                            <div class="row">
                                                <div class="col-md-3 form-group">
                                                    <label>Name</label>
                                                    <input type="text" ng-model="i.schemeName"  class="form-control" autocomplete="off" required>
                                                </div>
                                                <div class="col-md-3 form-group">
                                                    <label>Mode</label>
                                                    <select ng-model="i.cashlessOrReimbursement" class="form-control"  required>
                                                        <option value="">Select Mode</option>
                                                        <option value="Cash">Cash</option>
                                                        <option value="Reimbursment">Reimbursement</option>
														 <option value="Cashless">Cash Less</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-3 form-group">
                                                    <label>Category</label>
                                                    <select ng-model="i.govtOrInsurance" class="form-control" required>
                                                        <option value="">Select Category</option>
														<option value="General">General</option>
                                                        <option value="Insurance">Insurance</option>
                                                        <option value="Government">Government</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-3">
                                                    <br>
                                                    <button type="button" class="btn btn-success btn-sm btn-addon pull-right" ng-click="update_scheme(i)" ng-disabled="upadteform.$invalid"><i class="fa fa-check"></i>Update</button>
                                                </div>
                                            </div>
                                            <!-- <pre>{{i|json}}</pre> -->
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                        <tbody ng-show="NoData==1">
                            <tr align="center">
                                <td colspan="3"><h4>No Data</h4></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
            <div class="row" ng-show="action==2">
                <div class="col-md-12">
                    <form id="addform" ng-submit="save_scheme_data()" class="form-validation">
                        <div class="row">
                            <div class="col-md-4 form-group">
                                <label for="schemeID">Name</label>
                                <input type="text" ng-model="scheme.scheme_name" id="schemeID" class="form-control" autocomplete="off" required>
                            </div>
                            <div class="col-md-4 form-group">
                                <label for="claimID">Mode</label>
                                <select ng-model="scheme.paid_type" class="form-control" id="claimID" required>
                                    <option value="">Select Mode</option>
                                    <option value="Cash">Cash</option>
                                    <option value="Reimbursment">Reimbursement</option>
									 <option value="Cashless">Cash Less</option>
                                </select>
                            </div>
                            <div class="col-md-4 form-group">
                                <label for="scheme_typeID">Category</label>
                                <select ng-model="scheme.scheme_type" class="form-control" id="scheme_typeID" required>
                                    <option value="">Select Category</option>
									<option value="General">General</option>
                                    <option value="Insurance">Insurance</option>
                                    <option value="Government">Government</option>
                                </select>
                            </div>
                        </div>
                        <!-- <pre>{{scheme|json}}</pre> -->
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
