<div ng-controller="specialities_ctrl">
    <div class="panel panel-default" style="margin: 5px">
        <div class="panel-heading" style="background-color:aliceblue">
            <div class="clearfix">
                <a href ng-click="action=1" class="pull-left thumb-md avatar b-3x m-r">
<img src="img/medical_icons/medicine.png" >
</a>
                <div class="clear">
                    <div class="h3 m-t-xs m-b-xs">
                        Specialities
                    </div>
                    <small class="text-muted">Medical Specialities</small>
                </div>
            </div>
        </div>
        <div class="panel-body" ng-init="init()">

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group input-group col-xs-6 col-sm-3 pull-left" ng-show="action==1">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        <input class="form-control" ng-model="search">
                    </div>
                    <button class="btn m-b-xs btn-sm btn-primary btn-addon pull-right" ng-show="action==1" ng-click="addspec()"><i class="fa fa-user-plus"></i>New</button>
                    <button class="btn m-b-xs btn-sm btn-success btn-addon pull-right" ng-show="action==2" form="myform" ng-disabled="form.$invalid"><i class="fa fa-check"></i>Save</button>
                    <table class="table table-striped b-t b-light table-bordered" ng-show="action==1">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Speciality</th>
                                <th>Description</th>
								<th style="width:30px;"></th>	
                            </tr>
                        </thead>
                        <tbody ng-repeat="x in spec_data |filter:search" ng-if="noRecords === false">
                            <tr rowspan="2">
                                <td>{{$index+1}}</td>
                                <td><a ng-click="get_spec_menu(x.spid)"><span ng-bind="x.spname"></span></a>

                                </td>
                                <td ng-bind="x.spdesc">{{menu_uid}}</td>
								<td>
                            <a href ng-click="delete_spec(x.spid,x.status)"><i class="fa fa-check text-success" ng-show="x.status==1"></i><i class="fa fa-times text-danger" ng-show="x.status==0"></i></a>
                        </td>
                            </tr>

                            <tr ng-show="menu_uid==x.spid">
                                <td colspan="3">
                                    <form name="form">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Speciality Name</label>
                                                <input type="text" class="form-control" ng-model="spec.spname" placeholder="Specialities Name" required title="Enter Speciality Name">
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Description</label>
                                                    <textarea name="spdesc" class="form-control" ng-model="spec.spdesc" required placeholder="Description"></textarea>
                                                </div>

                                    </form>



                                </td>
                            </tr>
                            <tr ng-show="menu_uid==x.spid">
                                <td colspan="5">
                                    <div clss="row">
                                        <button class="btn m-b-xs btn-sm btn-danger btn-addon" ng-click="delete_spec(x.spid)"><i class="fa fa-trash"></i>Delete</button>
                                        <button class="btn m-b-xs btn-sm btn-success btn-addon pull-right" ng-click="update_spec(x.spid)" ng-disabled="form.$invalid"><i class="fa fa-check"></i>Update</button>
                                    </div>
                                    <div class="col-xs-12 alert alert-success" ng-if="result!=''">
                                        <strong><i class="fa fa-check fa-lg" aria-hidden="true"></i></strong> {{result}}
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tbody ng-if="noRecords === true">
                            <tr>
                                <td colspan="4" align="center"><h4>No Records</h4></td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                    </div>
                    <div ng-show="action==2">
                        <form name="form" ng-submit="save_spec()" id="myform">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label>Specialities Name</label>
                                    <input type="text" class="form-control" ng-model="spname" placeholder="Specialities Name" required title="Enter Specialities Name">

                                </div>
                                <div class="form-group">
                                    <label for="inputEmail" class="control-label">Description</label>
                                    <textarea name="spdesc" class="form-control" ng-model="spdesc" required placeholder="Description"></textarea>
                                </div>


                            </div>

                        </form>
                        <!--<pre ng-bind="user |json"></pre>-->
                    </div>
                </div>
            </div>
        </div>
